Pandas代码：

In [1]:
import numpy as np
import pandas as pd

In [2]:
pd.__version__

'1.1.5'

1、文件的读取和写入

In [ ]:
df_csv=pd.read_csv('../data/my_csv.csv')
df_csv

In [6]:
df_txt=pd.read_table('../data/my_table.txt')
df_txt

In [8]:
df_excel=pd.read_excel('../data/my_excel.xlsx')
df_excel

In [ ]:
pd.read_table('../data/my_table.txt',header=None)

In [ ]:
pd.read_csv('../data/my_csv',index_col=['col1','col2'])

In [ ]:
pd.read_table('../data/my_table.txt',usecols=['col1','col2'])

In [ ]:
df_csv.to_csv('../data/my_csv_saved.csv',index=False)
df_excel.to_excel('../data/my_excel_saved.xlsx',index=False)
df_txt.to_csv('../data/mytxt_saved.txt',sep='\t',index=False)

In [ ]:
print(df_csv.to_markdown())
print(df_csv.to_latex())

2、基本数据结构

In [10]:
s=pd.Series(data=[100,'a',{'dic1':5}],
            index=pd.Index(['id1',20,'third'], name='my_idx'),
            dtype='object',
            name='my_name'
)
s

my_idx
id1              100
20                 a
third    {'dic1': 5}
Name: my_name, dtype: object

In [11]:
s.values

array([100, 'a', {'dic1': 5}], dtype=object)

In [12]:
s.index

Index(['id1', 20, 'third'], dtype='object', name='my_idx')

In [13]:
s.dtype

dtype('O')

In [14]:
s.name

'my_name'

In [15]:
s.shape

(3,)

In [16]:
data=[[1,'a',1.2],[2,'b',2.2],[3,'c',3.2]]
df=pd.DataFrame(data=data,
               index=['row_%d'%i for i in range(3)],
               columns=['col_0','col_1','col_2'])
df

       col_0 col_1  col_2
row_0      1     a    1.2
row_1      2     b    2.2
row_2      3     c    3.2

In [17]:
df=pd.DataFrame(data={'col_0':[1,2,3],
                      'col_1':list('abc'),
                      'col_2':[1.2,2.2,3.2]},
               index=['row_%d'%i for i in range(3)])
df

       col_0 col_1  col_2
row_0      1     a    1.2
row_1      2     b    2.2
row_2      3     c    3.2

In [18]:
df['col_0']

row_0    1
row_1    2
row_2    3
Name: col_0, dtype: int64

In [20]:
df[['col_0','col_1']]

       col_0 col_1
row_0      1     a
row_1      2     b
row_2      3     c

取属性同上

In [21]:
#转置
df.T

      row_0 row_1 row_2
col_0     1     2     3
col_1     a     b     c
col_2   1.2   2.2   3.2

3、常用基本函数

In [ ]:
#返回序列前两行
df.head(2)
#返回序列后3行
df.tail(3)
#返回表的信息概况
df.info()
#返回表中数值列对应的主要统计量
df.describe()

In [ ]:
df_demo=df[['Height','Weight']]
df_demo.mean()
df_demo.max()

In [ ]:
#返回分位数
df_demo.quantile(0.75)
#返回非缺失值个数
df_demo.count()
#返回最大值对应的索引
df_demo.idmax()

df_demo.mean(axis=1).head()

In [ ]:
df['School'].unique()
df['School'].nunique()

#得到唯一值和出现的频数
df['School'].value_counts()

df_demo=df[['Gender','Transfer','Name']]
df_demo.drop_duplicates(['Gender','Transfer'])

# 保留只出现过一次的性别和姓名组合
df_demo.drop_duplicates(['Name','Gender'], keep=False).head()
# 在Series上也可以使用
df['School'].drop_duplicates()

df_demo.duplicated(['Gender','Transfer']).head()
df['School'].duplicated().head()

In [ ]:
df['Gender'].replace({'Female':0,'Male':1}).head()
df['Gender'].replace(['Female','Male'],[0,1]).head()

In [25]:
s=pd.Series(['a',1,'b',2,1,1,'a'])
s.replace([1,2], method='ffill')

0    a
1    a
2    b
3    b
4    b
5    b
6    a
dtype: object

In [26]:
s.replace([1,2],method='bfill')

0    a
1    b
2    b
3    a
4    a
5    a
6    a
dtype: object

In [28]:
s=pd.Series([-1,1.2345,100,-50])
s.where(s<0)

0    -1.0
1     NaN
2     NaN
3   -50.0
dtype: float64

In [29]:
s.where(s<0,100)

0     -1.0
1    100.0
2    100.0
3    -50.0
dtype: float64

In [30]:
s.mask(s<0)

0         NaN
1      1.2345
2    100.0000
3         NaN
dtype: float64

In [31]:
s.mask(s<0,-50)

0    -50.0000
1      1.2345
2    100.0000
3    -50.0000
dtype: float64

In [32]:
s_condition=pd.Series([True,False,False,True],index=s.index)
s.mask(s_condition,-50)

0    -50.0000
1      1.2345
2    100.0000
3    -50.0000
dtype: float64

In [33]:
s=pd.Series([-1,1.2345,100,-50])
s.round(2)

0     -1.00
1      1.23
2    100.00
3    -50.00
dtype: float64

In [34]:
s.abs()

0      1.0000
1      1.2345
2    100.0000
3     50.0000
dtype: float64

In [35]:
#前两个数分别表示上下截断边界
s.clip(0,2)

0    0.0000
1    1.2345
2    2.0000
3    0.0000
dtype: float64

In [ ]:
df_demo = df[['Grade', 'Name', 'Height', 'Weight']].set_index(['Grade','Name'])
df_demo.head(3)

In [ ]:
df_demo.sort_values('Height').head()
df_demo.sort_values(['Weight','Height'],ascending=[True,False]).head()

df_demo.sort_index(level=['Grade','Name'],ascending=[True,False]).head()

In [ ]:
df_demo=df[['Height','Weight']]
def my_mean(x):
    res=x.mean()
    return res
df_demo.apply(my_mean)

In [ ]:
df_demo.apply(lambda x:x.mean())

df_demo.apply(lambda x:x.mean(),axis=1).head()

df_demo.apply(lambda x:(x-x.mean()).abs().mean())
df_demo.mad()

#谨慎使用apply

4、窗口对象

In [39]:
#滑窗对象
s=pd.Series([1,2,3,4,5])
roller=s.rolling(window=3)
roller

Rolling [window=3,center=False,axis=0]

In [40]:
roller.mean() #等价于roller.apply(lambda x:x.mean())

0    NaN
1    NaN
2    2.0
3    3.0
4    4.0
dtype: float64

In [41]:
roller.sum()

0     NaN
1     NaN
2     6.0
3     9.0
4    12.0
dtype: float64

In [43]:
s2=pd.Series([1,2,6,16,30])
roller.cov(s2)

0     NaN
1     NaN
2     2.5
3     7.0
4    12.0
dtype: float64

In [44]:
roller.corr(s2)

0         NaN
1         NaN
2    0.944911
3    0.970725
4    0.995402
dtype: float64

In [46]:
s=pd.Series([1,3,6,10,15])
s.shift(2)

0    NaN
1    NaN
2    1.0
3    3.0
4    6.0
dtype: float64

In [47]:
s.diff(3)

0     NaN
1     NaN
2     NaN
3     9.0
4    12.0
dtype: float64

In [48]:
s.pct_change()

0         NaN
1    2.000000
2    1.000000
3    0.666667
4    0.500000
dtype: float64

In [49]:
s.shift(-1)

0     3.0
1     6.0
2    10.0
3    15.0
4     NaN
dtype: float64

In [50]:
s.diff(-2)

0   -5.0
1   -7.0
2   -9.0
3    NaN
4    NaN
dtype: float64

In [51]:
s.rolling(3).apply(lambda x:list(x)[0])

0    NaN
1    NaN
2    1.0
3    3.0
4    6.0
dtype: float64

In [52]:
s.rolling(4).apply(lambda x:list(x)[-1]-list(x)[0])

0     NaN
1     NaN
2     NaN
3     9.0
4    12.0
dtype: float64

In [53]:
def my_pct(x):
    L=list(x)
    return L[-1]/L[0]-1
s.rolling(2).apply(my_pct)

0         NaN
1    2.000000
2    1.000000
3    0.666667
4    0.500000
dtype: float64

In [55]:
#扩张窗口 cummax cumsum cumprod
s=pd.Series([1,3,6,10])
s.expanding().mean()

0    1.000000
1    2.000000
2    3.333333
3    5.000000
dtype: float64

练习

In [ ]:
df[df.columns[5:]].sum(1)==df['Total'].all()

In [ ]:
df_temp=df.drop_duplicates('#')
df_temp.head()

In [ ]:
df_temp['Type 1'].nunique

In [ ]:
df_temp['Type 1'].value_counts().index[:3]

In [ ]:
df_temp.drop_duplicates(['Type1','Type2']).shape[0]

In [ ]:
L_all=[i+''+j for i in df['Type 1'].unique() for j in (df['Type 1'].unique().tolist()+[''])]
len(L_all)

In [ ]:
L_part=[i+''+j for i,j in zip(df['Type 1'],df['Type 2'].replace(np.nan,''))]
len(set(L_all).difference(set(L_part)))

In [ ]:
L=df['Type 1'].unique().tolist()
df['Type 1'].replace(L,[str.upper(i) for i in L])

df['Type 1'].apply(lambda x:str.upper(x))

In [ ]:
df['Deviation']=df[df.column[5:]].apply(lambda x:(x-x.median()).max(),1)
df.sort_values('Deviation', ascending=False)

In [ ]:
s=pd.Serious(range(10))
s[::-1].rolling(5).sum()[::-1]#倒序